<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Log in</span>
    <div class="input-field">
      <input
        formControlName="nickname"
        id="nickname"
        [ngClass]="{'invalid': form.get('nickname').invalid && form.get('nickname').touched}"
      >
      <label for="nickname">nickname:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('nickname').invalid && form.get('nickname').touched"
      >
        <span *ngIf="form.get('nickname').errors['required']">nickname is required</span>
        <span *ngIf="form.get('nickname').errors['nickname']">nickname is not correct</span>
      </span>
    </div>
    <div class="input-field">
      <input
        id="password"
        type="password"
        formControlName="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
      >
      <label for="password">password:</label>
      <span class="helper-text red-text"
        *ngIf="form.get('password').invalid && form.get('password').touched">

        <span *ngIf="form.get('password').errors['required']">password is required</span>
        <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          password should contain more then {{form.get('password').errors['minlength']['requiredLength']}} symbols.
          now: {{form.get('password').errors['minlength']['actualLength']}}
        </span>

      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid || form.disabled">
      Login
    </button>
  </div>
</form>
